.experience{
    height: 20vh;
    border: 2px solid black;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-bottom{
    height: 1vh;
    border-top: 1px solid black ;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 17%;
    margin-right: 17%;
}