.footer{
    bottom: 0;
    height: 11vh;
    display: flex;
    justify-content: center;
    font-size: 14px;
    border-top: 1px solid;
}

.footer-container{
    width: 1280px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-up{
    width: 100%;
    height: 50%;
    align-items:center;
    display: flex;
    justify-content:center
}

.footer-down{
    width: 40%;
    height: 50%;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
}

.footer-lower-left{
    display: flex;
    justify-self: left;
    margin-right: 3vh;
    text-decoration: none;
}
.footer-lower-center{
    display: flex;
    justify-self: center;
}
.footer-lower-right{
    display: flex;
    justify-self: right;
    margin-left: 3vh;
}

.footer-img{
    width: 30px;
    margin-left: 5px;
}
.footer-lower-left>a{text-decoration: none;}
.footer-lower-center>a{text-decoration: none;}
.footer-lower-right>a{text-decoration: none;}
