.header {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > h1 {
  font-size: 80px;
}

.info {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(2, auto);
  margin-left: 20% auto;
  margin-right: 20% auto;
}

.info-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-left: 10vh;
}

.info-left > p {
  margin-top: 15%;
  width: 70%;
  display: block;
}

.info-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-right: 10vh;
  justify-content: center;
}

.picture {
  height: 400px;
}

.info-line {
  height: 10%;
  display: flex;
  margin-top: 5%;
  margin-left: 17%;
  margin-right: 17%;
}

.info-smaller {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.info-up {
  margin-bottom: 5%;
}

.info-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-inline: 18%;
}

.info-down > h1 {
  margin-bottom: 5%;
}
