* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: inherit;
  }

  .app{height: 100vh;}

  .app-content{
    min-height: 100%;
  }

  .app-light{
    background-color: white;
    color: black;
  }

  .app-dark{
    background-color: black;
    color: white;
  }

  .app-dimme{
    background-color: yellow;
    color: blue;
  }


  .content{
    justify-content: center;
    display: flex;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  